<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Pixel Code for PageView -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1164497584839077');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1164497584839077&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code for PageView -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Storyia - HOME</title>
  <link rel="icon" href="css/assets/parrot.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="css/meta/global.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;1,700&family=Merriweather&family=Montserrat:wght@400;900&family=Noto+Sans:wght@400;700&family=Sacramento&family=Ubuntu&family=Zeyada&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/homepage.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/meta/vertical-navbar.css">


</head>
<style></style>

<body>
  <div class="icons-container-2" style="scale: 0.65;">
    <div class="icon-item">
      <img src="css/assets/gem.png" alt="Icon 1">
      <span class="icon-number">
        <%= gems %>
      </span>
    </div>
    <div class="icon-item">
      <img src="css/assets/parrot.png" alt="Icon 2">
      <span class="icon-number">
        <%= parrots %>
      </span>
    </div>
  </div>
  <button class="navTrigger" id="navTrigger">
    <svg viewBox="0 0 64 48">
      <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
      <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
      <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
    </svg>
  </button>
  <nav class="navMenu" id="navMenu">
    <ul>
      <li>
        <div class="switch">
          <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" onclick="toggleLanguage()">
          <label for="language-toggle"></label>
          <span class="on">EN</span>
          <span class="off">FR</span>
      </div>
      </li>
      <li>
        <a href="/home">Home</a>
      </li>
      <li>
        <a href="/story">Create Story</a>
      </li>
      <li>
        <a href="/storyhistory">Story History</a>
      </li>
      <li>
        <a href="/profile">Profile</a>
      </li>
      <li>
        <a href="/subscribe">Subscription</a>
      </li>
    </ul>
  </nav>

  <div class="navbar">
    <div class="icons-container">
      <div class="icon-item">
        <img src="css/assets/gem.png" alt="Icon 1">
        <span class="icon-number">
          <%= gems %>
        </span>
      </div>
      <div class="icon-item">
        <img src="css/assets/parrot.png" alt="Icon 2">
        <span class="icon-number">
          <%= parrots %>
        </span>
      </div>
    </div>
    <div class="nav-button-container">
      <div class="switch">
        <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" onclick="toggleLanguage()">
        <label for="language-toggle"></label>
        <span class="on">EN</span>
        <span class="off">FR</span>
    </div>
    <script>function toggleLanguage() {
        var toggleSwitch = document.getElementById('language-toggle');
        var redirectUrl;
    
        if (toggleSwitch.checked) {
            // Redirect to URL for BN (Bangla)
            redirectUrl = '/fr/home';
        } else {
            // Redirect to URL for EN (English)
            redirectUrl = '/fr/home';
        }
    
        // Redirect to the specified URL
        window.location.href = redirectUrl;
    }</script>
      <a href="/home" class="nav-button">Home</a>
      <a href="/subscribe" class="nav-button">Subscription</a>
      <a href="/profile" class="nav-button">Profile</a>
      <a href="/storyhistory" class="nav-button">Story History</a>
      <a href="/story" class="special-button">Create Story</a>
    </div>
  </div>

  <div class="flex-box">
    <div class="text-style-head" style="margin-top: 8%;">Create A New Story</div>
    <div class="text-style-sub" style="margin-top: 11px;">Click the “Create” button to start your<br>story
      creation, Enjoy.</div>
    <a href="/story" style="text-decoration: none;">
      <div class="next-button"
        style="color: black; background: white; text-align: center;width: 223px; height: 48px;color: #3A3A3A; font-family: Volkhov; font-size: 24px; font-style: normal; font-weight: 700; margin-bottom: 30px ;line-height: 150%; padding-top: 07px; margin-top: 38px;">
        Create
        Story</div>
    </a>
    <!-- Card Container -->
    <div class="card-container">
      <div class="text-style-head-xx"
        style="color: #000; font-size: 30px; align-self: baseline; margin-top: 20px; margin-left:30px;margin-bottom: 16px;">
        Your Stories</div>
      <div class="card-box" style="overflow-x: scroll;">
        <% for (let i=userStories.length - 1; i>= 0; i--) { %>
          <% if (!userStories[i].title.includes("Story Generation Error - Please re-check your Parameters")) { %>
            <div class="card" data-value="<%= userStories[i]._id %>"
              style="background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); background-size: cover;">
              <div class="card-text-1">
                <p>
                  <%= userStories[i].title %>
                </p>
                <div class="card-text-2">
                  <p>
                    <%= userStories[i].audioduration %>
                  </p>
                </div>
              </div>
              <script>
                // Use JavaScript to set the background image with lazy loading
                var card = document.querySelector('[data-value="<%= userStories[i]._id %>"]');
                card.style.backgroundImage = 'url("<%= userStories[i].thumb_img_path %>")';
                card.style.loading = 'lazy';
              </script>
            </div>
            <% } %>
              <% } %>
      </div>
    </div>

  </div>

  <script src="js/homepage.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const cards = document.querySelectorAll('.card');
  
      cards.forEach(card => {
        card.addEventListener('click', function () {
          const cardValue = this.getAttribute('data-value'); // Get the value from data attribute
          sendDataToBackend(cardValue); // Function to send data to the backend
        });
      });
  
      function formatAudioDuration(duration) {
        const minutes = Math.floor(duration);
        const seconds = Math.round((duration - minutes) * 60);
        return `${minutes} min ${seconds} sec`;
      }
  
      function sendDataToBackend(value) {
        fetch('/home', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ storyId: value }) // Sending data to the '/scenario' endpoint
        })
          .then(response => {
            if (response.ok) {
              console.log('Data sent to backend:', value);
              // Optionally, perform actions after successful data transmission
              // For example, redirect to another page
              window.location.href = '/storyoutput';
            } else {
              console.error('Failed to send data to backend');
            }
          })
          .catch(error => {
            console.error('Error sending data to backend:', error);
          });
      }
  
      
      const audioDurations = document.querySelectorAll('.card-text-2 p');
      audioDurations.forEach(durationElement => {
        const originalDuration = parseFloat(durationElement.textContent);
        const formattedDuration = formatAudioDuration(originalDuration);
        durationElement.textContent = formattedDuration;
      });
    });
  </script>
  
</body>

</html>