<%- include("partials/header") %>

<div class="container mt-5">
    <h1>Subscription Model</h1>
    <a href="https://buy.stripe.com/test_5kA7vA4CKclC9Ms5km">
        <div class="container mt-5" data-item-id="<%= items.storyPackages.id %>">
            <h3><%= items.storyPackages.name %><br>$ <%= items.storyPackages.price/100 %></h3>
        </div>
    </a>
</div>


<%- include("partials/footer") %>