<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="icon" href="../css/assets/parrot.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../css/meta/global.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;1,700&family=Merriweather&family=Montserrat:wght@400;900&family=Noto+Sans:wght@400;700&family=Sacramento&family=Ubuntu&family=Zeyada&display=swap"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/homepage.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/meta/vertical-navbar.css">

<style>
  /* Landscape*/


</style>
</head>


<body>
  <div class="icons-container-2" style="scale: 0.65;">
    <div class="icon-item">
      <img src="../css/assets/gem.png" alt="Icon 1">
      <span class="icon-number">
        <%= gems %>
      </span>
    </div>
    <div class="icon-item">
      <img src="../css/assets/parrot.png" alt="Icon 2">
      <span class="icon-number">
        <%= parrots %>
      </span>
    </div>
  </div>
  <button class="navTrigger" id="navTrigger">
    <svg viewBox="0 0 64 48">
      <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
      <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
      <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
    </svg>
  </button>
  <nav class="navMenu" id="navMenu">
    <ul>
      <li>
        <div class="switch">
          <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" onclick="toggleLanguage()">
          <label for="language-toggle"></label>
          <span class="on">FR</span>
          <span class="off">EN</span>
      </div>
     
      </li>
      <li>
        <a href="/fr/home">Accueil</a><!--Home-->
      </li>
      <li>
        <a href="/fr/story">Créer Histoire</a><!--Create Story-->
      </li>
      <li>
        <a href="/fr/storyhistory">Mes Histoires</a><!--Story history-->
      </li>
      <li>
        <a href="/fr/profile">Profil</a><!--Profile-->
      </li>
      <li>
        <a href="/fr/subscribe">Abonnement</a><!--Subscription-->
      </li>
    </ul>
  </nav>

  <div class="navbar">
    <div class="icons-container">
      <div class="icon-item">
        <img src="../css/assets/gem.png" alt="Icon 1">
        <span class="icon-number">
          <%= gems %>
        </span>
      </div>
      <div class="icon-item">
        <img src="../css/assets/parrot.png" alt="Icon 2">
        <span class="icon-number">
          <%= parrots %>
        </span>
      </div>
    </div>
    <div class="nav-button-container">
      <div class="switch">
        <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" onclick="toggleLanguage()">
        <label for="language-toggle"></label>
        <span class="on">FR</span>
        <span class="off">EN</span>
    </div>
    <script>
        function toggleLanguage() {
var toggleSwitch = document.getElementById('language-toggle');
var redirectUrl;

if (toggleSwitch.checked) {
    // Redirect to URL for BN (Bangla)
    redirectUrl = '../home';
} else {
    // Redirect to URL for EN (English)
    redirectUrl = '../home';
}

// Redirect to the specified URL
window.location.href = redirectUrl;
}
    </script>
      <a href="/fr/home" class="nav-button">Accueil</a><!--Home-->
      <a href="/fr/subscribe" class="nav-button">Abonnement</a><!--Subscription-->
      <a href="/fr/profile" class="nav-button">Profil</a><!--Profile-->
      <a href="/fr/storyhistory" class="nav-button">Mes Histoires</a><!--Story history-->
      <a href="/fr/story" class="special-button">Créer Histoire</a><!--Create Story-->
    </div>
  </div>

  <div class="flex-box">
    <div class="text-style-head" style="margin-top: 8%;">Créer de nouvelle histoire</div><!--Create A New Story-->
    <div class="text-style-sub" style="margin-top: 11px;">Appuyez sur le bouton “Créer” pour commencer<br>la création de votre histoire. Profitez-en.</div>
    <a href="/fr/story" style="text-decoration: none;">
      <div class="next-button"
        style="color: black; background: white; text-align: center;width: 223px; height: 48px;color: #3A3A3A; font-family: Volkhov; font-size: 24px; font-style: normal; font-weight: 700; margin-bottom: 30px ;line-height: 150%; padding-top: 07px; margin-top: 38px;">
        Créer une histoire</div>
    </a>
    <!-- Card Container -->
    <div class="card-container">
      <div class="text-style-head-xx"
        style="color: #000; font-size: 30px; align-self: baseline; margin-top: 20px; margin-left:30px;margin-bottom: 16px;">
        Vos Histoires</div><!--Your Stories-->
      <div class="card-box" style="overflow-x: scroll;">
        <% for (let i=userStories.length - 1; i>= 0; i--) { %>
          <% if (!userStories[i].title.includes("Story Generation Error - Please re-check your Parameters")) { %>
            <div class="card" data-value="<%= userStories[i]._id %>"
              style="background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); background-size: cover;">
              <div class="card-text-1">
                <p>
                  <%= userStories[i].title %>
                </p>
                <div class="card-text-2">
                  <p>
                    <%= userStories[i].audioduration %>
                  </p>
                </div>
              </div>
              <script>
                // Use JavaScript to set the background image with lazy loading
                var card = document.querySelector('[data-value="<%= userStories[i]._id %>"]');
                card.style.backgroundImage = 'url("<%= userStories[i].thumb_img_path %>")';
                card.style.loading = 'lazy';
              </script>
            </div>
            <% } %>
              <% } %>
      </div>
    </div>

  </div>

  <script src="../js/homepage.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const cards = document.querySelectorAll('.card');
  
      cards.forEach(card => {
        card.addEventListener('click', function () {
          const cardValue = this.getAttribute('data-value'); // Get the value from data attribute
          sendDataToBackend(cardValue); // Function to send data to the backend
        });
      });
  
      function formatAudioDuration(duration) {
        const minutes = Math.floor(duration);
        const seconds = Math.round((duration - minutes) * 60);
        return `${minutes} min ${seconds} sec`;
      }
  
      function sendDataToBackend(value) {
        fetch('/fr/home', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ storyId: value }) // Sending data to the '/scenario' endpoint
        })
          .then(response => {
            if (response.ok) {
              console.log('Data sent to backend:', value);
              // Optionally, perform actions after successful data transmission
              // For example, redirect to another page
              window.location.href = '/fr/storyoutput';
            } else {
              console.error('Failed to send data to backend');
            }
          })
          .catch(error => {
            console.error('Error sending data to backend:', error);
          });
      }
  
      
      const audioDurations = document.querySelectorAll('.card-text-2 p');
      audioDurations.forEach(durationElement => {
        const originalDuration = parseFloat(durationElement.textContent);
        const formattedDuration = formatAudioDuration(originalDuration);
        durationElement.textContent = formattedDuration;
      });
    });
  </script>
  
</body>

</html>